<%- include("./partials/header.ejs") -%>

<link rel="stylesheet" href="../css/assessment.css" />
<link rel="stylesheet" href="../css/test_template.css" />
<section id="css_test">
	<div class="container-fluid" id="<%= currentUser %>">
		<div class="atop row">
			<div class="col-md-1 col-1 close-timer">
				<div
					class="close"
					onclick="location.assign('/skill-test/<%= testName %>')"
				>
					<i class="bi bi-x-lg"></i>
				</div>
			</div>
			<div class="col-md-10 col-9">
				<div class="aback">
					<div class="ascore"><span>25</span></div>
					<div class="afront"></div>
				</div>
			</div>
			<div class="col-md-1 col-1">
				<div class="timer text-center">15:00</div>
			</div>
		</div>
	</div>
	<section class="question_box" id="<%= testName %>">
		<section id="css_q25" class="question type2">
			<h4 class="b-800 type1_question">
				Which part of the markup is a CSS property?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_1.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>color:</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>color: #222222;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>body</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>#222222;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q24" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				What is the correct declaration syntax?
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_2_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_2_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q23" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which part of the code is the declaration?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_3.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>42px</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>font-size:</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>h1</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>font-size: 42px;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q22" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				Which is the correct markup to target all &lt;div&gt; elements
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_4_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_4_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q21" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which part of the box model do the width and height properties control
				by default?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_5.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>Content</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>Padding</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>Margins</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>Borders</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q20" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which css property is used to change the text color?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_6.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>color</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>textcolor</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>text</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>text-color</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q19" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which property is used to change color of an element's background?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_7.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>color-bg</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>background-color</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>color-background</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>bg-color</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q18" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				What's the purpose of the semicolor(;) at the end of a declaration?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_8.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type_option_lg type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>It seperates two or more declarations</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>It helps organize code, but it's not compulsory</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>It's an easter egg</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>It closes each declaration</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q17" class="question type1 d-none">
			<h4 class="b-800 type1_question">
				What's the most efficient way to apply the same CSS styles to multiple
				web pages?
			</h4>
			<div class="type_options type1_options">
				<div class="type_option type1_option1">
					<div class="option_and_number">
						<span class="optionno">1</span>
						<p>Using inline styling</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option2">
					<div class="option_and_number">
						<span class="optionno">2</span>
						<p>Using the &lt;style&gt; element</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option3">
					<div class="option_and_number">
						<span class="optionno">3</span>
						<p>Using the &lt;link&gt; element</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option4">
					<div class="option_and_number">
						<span class="optionno">4</span>
						<p>None of the above</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q16" class="question type1 d-none">
			<h4 class="b-800 type1_question">What's NOT true about CSS:</h4>
			<div class="type_options type1_options">
				<div class="type_option type_option_lg type1_option1">
					<div class="option_and_number">
						<span class="optionno">1</span>
						<p>Apply Same rule for multiple elements of different types</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type_option_lg type1_option2">
					<div class="option_and_number">
						<span class="optionno">2</span>
						<p>Inline styling overrides external stylesheet rules</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type_option_lg type1_option3">
					<div class="option_and_number">
						<span class="optionno">3</span>
						<p>Browser defaults override inline styling</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type_option_lg type1_option4">
					<div class="option_and_number">
						<span class="optionno">4</span>
						<p>One element can belong to multiple classes</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q15" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				What is the correct way to link an external stylesheet
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_11_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_11_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q14" class="question type3 d-none">
			<h4 class="b-800 type1_question">How to select div and p element?</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_12_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_12_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q13" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				What selector is used to target all paragraphs with the class "new"?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_13.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>p.new</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>p[new]</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>p#new</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>p::new</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q12" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which CSS property controls the size of text?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_14.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>text-size</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>font-size</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>fontsize</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>text-size</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q11" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				How to make to element stick to the top of page?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_15.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>display: sticky</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>position: fixed-top;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>position: absolute;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>position: sticky</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q10" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which property controls the typeface?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_16.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>font</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>font-type</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>font-face</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>font-family</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q9" class="question type1 d-none">
			<h4 class="b-800 type1_question">
				How would you hide an element on a webpage so it doesn't take space in
				the flow of the page but is still present in code?
			</h4>
			<div class="type_options type1_options">
				<div class="type_option type1_option1">
					<div class="option_and_number">
						<span class="optionno">1</span>
						<p>Opacity: 0;</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option2">
					<div class="option_and_number">
						<span class="optionno">2</span>
						<p>display: none;</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option3">
					<div class="option_and_number">
						<span class="optionno">3</span>
						<p>visibility: hidden;</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option4">
					<div class="option_and_number">
						<span class="optionno">4</span>
						<p>transform: scale(0);</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q8" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which selector targets all of a page's headings?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_18.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>.heading</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>h1-h6</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>h1;h2;h3;h4;h5;h6</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>None of the above</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q7" class="question type1 d-none">
			<h4 class="b-800 type1_question">
				How do you insert a comment in a CSS file?
			</h4>
			<div class="type_options type1_options">
				<div class="type_option type1_option1">
					<div class="option_and_number">
						<span class="optionno">1</span>
						<p>// this is a comment</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option2">
					<div class="option_and_number">
						<span class="optionno">2</span>
						<p>/* this is a comment */</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option3">
					<div class="option_and_number">
						<span class="optionno">3</span>
						<p>// this is a comment //</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
				<div class="type_option type1_option4">
					<div class="option_and_number">
						<span class="optionno">4</span>
						<p># this is a comment</p>
					</div>
					<div class="correct_option d-none">
						<span class="blue-text"
							><i class="bi bi-check-circle-fill"></i
						></span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q6" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				How to select p element which comes after div?
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_20_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_20_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q5" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				What is the yellow element's z-index value?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_21.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type_option_lg type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>It has the lowest z-index value</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>It's not positioned while other elements have +ve z-index</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>It's z-index value is 0, other element has +ve z-index</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type_option_lg type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>All of the above</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q4" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				How to center the elements inside the container?
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_22_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_22_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q3" class="question type2 d-none">
			<h4 class="b-800 type1_question">
				Which declaration will NOT create borders as displayed in the image?
			</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_23.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>border-width: 10px 5px;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>border: 10px 5px;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>border-width: 10px 5px 10px 5px;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>border-width: 10px 5px 5px 10px;</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q2" class="question type2 d-none">
			<h4 class="b-800 type1_question">which color has more specificity?</h4>
			<div class="row">
				<div
					class="col-lg-6"
					style="display: flex; margin-top: 2rem; justify-content: center"
				>
					<div class="type2_img">
						<img
							src="../css_img/question_24.PNG"
							class="choice-img img-fluid"
							alt=""
						/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="type_options type1_options">
						<div class="type_option type1_option1">
							<div class="option_and_number">
								<span class="optionno">1</span>
								<p>div#demo</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option2">
							<div class="option_and_number">
								<span class="optionno">2</span>
								<p>div.demo</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option3">
							<div class="option_and_number">
								<span class="optionno">3</span>
								<p>div</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
						<div class="type_option type1_option4">
							<div class="option_and_number">
								<span class="optionno">4</span>
								<p>None of the above</p>
							</div>
							<div class="correct_option d-none">
								<span class="blue-text"
									><i class="bi bi-check-circle-fill"></i
								></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="css_q1" class="question type3 d-none">
			<h4 class="b-800 type1_question">
				Which image displays the correct markup?
			</h4>
			<div class="row mt-5">
				<div class="col-sm-6">
					<div class="type3-box" style="width: 100%">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_25_1.PNG"
							class="type3-img type3-img1 img-fluid"
							alt=""
						/>
						<span class="d-none">1</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="type3-box">
						<div class="img-selected d-none">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<img
							src="../css_img/question_25_2.PNG"
							class="type3-img type3-img2 img-fluid"
							alt=""
						/>
						<span class="d-none">2</span>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="show_stats d-none">
		<h3 class="b-700">Test Stats</h3>
		<div class="row mt-4">
			<div class="col-sm-4">
				<div class="stats-box question_stats">
					<p>Questions</p>
					<h3 class="stat-1 b-700 blue-text">24 / 25</h3>
					<p>18/25 average</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="stats-box score">
					<p>Score</p>
					<h3 class="stat-2 b-700 blue-text">300 / 375</h3>
					<p>270/375 average</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="stats-box time_stats">
					<p>Total Time</p>
					<h3 class="stat-3 b-700 blue-text">13m 53s</h3>
					<p>10m 23s average</p>
				</div>
			</div>
		</div>
		<div class="stat-footer" id="statBtn" style="text-align: right">
			<button class="btn btn-blue-black mt-4">Continue</button>
		</div>
	</section>
	<section class="feedback d-none">
		<h3 class="b-700">How was the experience?</h3>
		<div class="feedback-form mt-3">
			<label
				>Do you feel like the test accurately measured your skills?
				<strong class="bold" style="color: #ff2442">*</strong></label
			>
			<div class="feedback-1 mt-2">
				<button class="btn btn-light feedbtn">
					<span class="d-none">no</span>
					<i class="bi bi-hand-thumbs-down-fill yellow-emoji"></i> No
				</button>
				&nbsp;
				<button class="btn btn-light feedbtn">
					<span class="d-none">somewhat</span>
					<i class="bi bi-hand-thumbs-up-fill yellow-emoji"></i> Somewhat
				</button>
				&nbsp;
				<button class="btn btn-light feedbtn">
					<span class="d-none">yes</span>
					<i class="bi bi-emoji-heart-eyes-fill yellow-emoji"></i>
					Yes
				</button>
			</div>
			<br />
			<label
				>How would you rate your overall experience?
				<strong class="bold" style="color: #ff2442">*</strong></label
			>
			<div class="feedback-2 mt-2">
				<div class="black-bg">
					<span class="d-none">verybad</span>
					<i class="yellow-emoji-bg bi bi-emoji-frown-fill"></i>
				</div>
				<div class="black-bg">
					<span class="d-none">bad</span>
					<i class="yellow-emoji-bg bi bi-emoji-expressionless-fill"></i>
				</div>
				<div class="black-bg">
					<span class="d-none">average</span>
					<i class="yellow-emoji-bg bi bi-emoji-neutral-fill"></i>
				</div>
				<div class="black-bg">
					<span class="d-none">good</span>
					<i class="yellow-emoji-bg bi bi-emoji-smile-fill"></i>
				</div>
				<div class="black-bg">
					<span class="d-none">excellent</span>
					<i class="yellow-emoji-bg bi bi-emoji-laughing-fill"></i>
				</div>
			</div>
			<br />
			<label>Anything else you'd like to add?</label>
			<textarea
				class="form-control"
				rows="4"
				id="review"
				style="resize: none"
				placeholder="I would improve the following."
			></textarea>
			<br />
			<button class="btn btn-black-blue" disabled id="feedbackBtn">
				Continue
			</button>
		</div>
	</section>
	<footer id="afooter">
		<div class="submit-answer d-none">
			<div class="submit">
				<span>
					<i class="bi bi-check-lg blue-text"></i>
				</span>
				<div class="answer">
					<h4 class="b-800 blue-text">Submit answer</h4>
					<p>
						Something wrong with the question?
						<a href="" class="blue-text bold">Provide feedback.</a>
					</p>
				</div>
			</div>
		</div>
		<button
			class="btn btn-blue-black b-800 quizSubmit"
			id="quizSubmit"
			disabled
			href=""
		>
			Submit
		</button>
	</footer>
</section>
<script src="../js/html_test.js"></script>

<%- include("./partials/footer.ejs") -%>
